.Editor {
  display: flex;
  gap: 10px;
}

.Editor input {
  flex: 1;
  padding: 15px;
  border: 1px solid lightgray;
  border-radius: 5px;
}

.Editor > input:focus {
  /* outline을 none으로 해야 focus 색이 바뀜 */
  outline: none;
  border: 1px solid rgb(37, 147, 255);
}

.Editor button {
  cursor: point;
  background-color: rgb(37, 147, 255);
  color: white;
  width: 80px;
  border: none;
  border-radius: 5px;
}
