body {
  padding: 20px;
}

.App {
  margin: 0px auto;
  /* 0 auto 화면상에 남는 부분을 margin으로 설정. 그래서 가운데 정렬이 되게끔 */
  width: 400px;
}

.App > section {
  background-color: rgb(245, 245, 245);
  border: 1px solid rgb(240, 240, 240);
  margin-bottom: 10px;
  border-radius: 5px;
  padding: 20px;
}
